In [1]:
import pandas as pd
import mapplotlib.pyplot as pls

df = pd.read_csv("National_Daily_Deaths.csv")

df

           Date  National_Daily_Deaths
0    2020-03-11                      1
1    2020-03-12                      0
2    2020-03-13                      1
3    2020-03-14                      1
4    2020-03-15                      2
..          ...                    ...
333  2021-02-07                     16
334  2021-02-08                     14
335  2021-02-09                      5
336  2021-02-10                      3
337  2021-02-11                      1

[338 rows x 2 columns]