In [39]:
#1a
import pandas as pd

df = pd.read_csv("sysselsattning.csv", encoding = "ISO-8859-1", header = 1)

df_U = df[df["sysselsättning"]=="förvärvsarbetande"]

df["2019"] = df.sum()

In [18]:
#1b
df_U = df[df["sysselsättning"]=="ej förvärvsarbetande"]
df_U

          sysselsättning     ålder      kön    2019
12  ej förvärvsarbetande  16-19 år      män  176860
13  ej förvärvsarbetande  16-19 år  kvinnor  143432
14  ej förvärvsarbetande  20-24 år      män  117928
15  ej förvärvsarbetande  20-24 år  kvinnor  103001
16  ej förvärvsarbetande  25-29 år      män   86633
17  ej förvärvsarbetande  25-29 år  kvinnor   91124
18  ej förvärvsarbetande  30-34 år      män   64162
19  ej förvärvsarbetande  30-34 år  kvinnor   76735
20  ej förvärvsarbetande  35-39 år      män   53373
21  ej förvärvsarbetande  35-39 år  kvinnor   61312
22  ej förvärvsarbetande  40-44 år      män   46857
23  ej förvärvsarbetande  40-44 år  kvinnor   49228