In [26]:
import pandas as pd
import numpy as np

df = pd.read_csv("Matteprov.csv")

#print(df.head(3))
#print(df.tail(3))

#print(df.dropna())#Denna slänger raderna som innehåller NaN
df = df.fillna(0)
df["Total"] = df.sum(axis=1)
df["Betyg"] = np.where(df["Total"] > 7, "Godkänd", "Underkänd")
df

    Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5  Total      Betyg
0    Ada     3.0     0.0     2.0     3.0     0.0    8.0    Godkänd
1   Beda     2.0     3.0     1.0     3.0     3.0   12.0    Godkänd
2   Ceda     3.0     1.0     0.0     1.0     0.0    5.0  Underkänd
3   Deda     0.0     2.0     0.0     3.0     3.0    8.0    Godkänd
4    Eda     2.0     1.0     2.0     1.0     3.0    9.0    Godkänd
5   Feda     0.0     0.0     0.0     0.0     0.0    0.0  Underkänd
6   Geda     3.0     1.0     1.0     2.0     3.0   10.0    Godkänd
7   Heda     0.0     1.0     0.0     1.0     3.0    5.0  Underkänd
8    Ida     2.0     1.0     2.0     2.0     3.0   10.0    Godkänd
9   Keda     2.0     2.0     1.0     0.0     2.0    7.0  Underkänd
10  Leda     3.0     1.0     2.0     1.0     3.0   10.0    Godkänd
11  Meda     0.0     2.0     0.0     1.0     1.0    4.0  Underkänd

# Select Data
- Rader
- Kolumner

In [29]:
#plockar ut kolumner men kolumnamn
#df["Elev"]
df["Betyg"]

0       Godkänd
1       Godkänd
2     Underkänd
3       Godkänd
4       Godkänd
5     Underkänd
6       Godkänd
7     Underkänd
8       Godkänd
9     Underkänd
10      Godkänd
11    Underkänd
Name: Betyg, dtype: object